:root{
  --color-viche-green: #CCFF33;
  --color-pale-pink: #FFCCDC;
  --color-orange: #FF9933;
  --color-gray: #999999;
}
html{
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding:0;
}
#root{
  display: flex;
  flex-direction: column;
}
.sideMenuSpace{
  margin-left: 25%; /* Afecta directamente SideMenu.css en la etiqueta aside (Clase que contienen todas las vistas)  */
}